{%extends 'main/layout.html'%}

{%block title%}Comments{%endblock%}

{%block content%}
<div class="container" id="comment_media" >
    <br>
    <div class="comment_contents">
        <div class="forma">
            <form method="post">
                {%csrf_token%}
                <div class="alert alert-dark text-light" id="forma">
                    {{form.as_p}}
                    <button class="btn btn-dark" type="submit" id="create_comment_button">comment</button>
                </div>
            </form>
        </div>


        <div class="comments_main">
            {% for el in model %}
            <div class="alert alert-success">
                <h4 id="comment_title" class="form-control">Username: {{el.username}}</h4>
                <p id="comments" class="form-control">{{el.comments}}</p>
                <h4 id="News_title" class="form-control">News_title: {{el.name__title}}</h4>
            </div>
            {%endfor%}
        </div>

    </div>
    <script src="/static/main/js/comments.js"></script>
</div>
{%endblock%}