{% extends 'main/layout.html'%}


{%block title%}Main page{%endblock%}

{%block content%}
<div class="container">

    <br>
    <div class="alert alert-dark" id="panel" onmouseover="chose_color()" onmouseout="chose_color_out()">
        <a class="btn btn-dark" data-target="#create" data-toggle="modal" id="create_news">Create News</a>
        <a class="btn btn-dark" href="{% url 'comments'%}">Comments</a>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="Login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Login</h5>
                    <button type="button" class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="get">
                    {%csrf_token%}
                    <div class="modal-body">
                        <input type="text" class="form-control" name="username"><br>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning text-light" id='login_button' name="login"
                                value="login">Login
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Modal title</h5>
                    <button type="button" class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    {%csrf_token%}
                    <div class="modal-body text-light">
                        {{form}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning text-light" id="save_button" name="Create">Save
                            changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="news_table">
        {% for item in model%}
        <div class="alert alert-dark">
            <div class="news_table_header">
                <h4>title: <span class="text-light">{{item.title}}</span></h4>
                <p>creation_date: <span class="text-light">{{item.creation_date}}</span></p>
            </div>
            <div class="news_table_footer">
                <h4>author_name: <span class="text-light">{{item.author_name}}</span></h4>
                <a class="btn btn-warning" href="{% url 'news_update' item.id%}" onclick="return edits()">Edit</a>
            </div>
        </div>
        {%endfor%}
    </div>


    <script src="static/main/js/main.js"></script>

</div>
{%endblock%}