{% extends 'main/layout.html'%}

{%block title%}Main page{%endblock%}

{%block content%}
{% load socialaccount %}
{% providers_media_js %}
<div class="container">

    <br>
    <div class="panel_main">
        <div class="alert alert-dark" id="panel" onmouseover="chose_color()" onmouseout="chose_color_out()">
            <a class="btn btn-dark" data-target="#create" data-toggle="modal" id="create_news">Edit News</a>
            <a class="btn btn-dark" href="{% url 'comments'%}" id="comments_button">Comments</a>
            <form action="https://https//rest-api111.herokuapp.com/accounts/logout/" method="post" id="log_out">
                {%csrf_token%}
                <button class="btn btn-danger" type="submit" id="logout">logout</button>
            </form>
        </div>


        <form action="{% provider_login_url 'google' %}" method="post">
            {% csrf_token %}

        </form>

    </div>
    <div class="modal" tabindex="-1" role="dialog" id="Login">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Login</h5>
                    <button type="button" class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="get">
                    {%csrf_token%}
                    <div class="modal-body">
                        <input type="text" class="form-control" name="username"><br>
                        <input type="password" class="form-control" name="password"><br>
                        <button type="submit" class="btn btn-warning text-light" id='login_button' name="login"
                                value="login">Login
                        </button>
                    </div>
                </form>
                <div class="modal-footer">
                    <form method="post" action="{% provider_login_url 'google'  %}">
                        {%csrf_token%}
                        <button type="submit" class="btn btn-dark " id="google"><img
                                src="https://cdn-icons-png.flaticon.com/512/281/281764.png" width="26px"
                                height="25px"> Sign in with google
                        </button>
                    </form>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="create">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-light">Modal title</h5>
                    <button type="button" class="btn btn-danger close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    {%csrf_token%}
                    <div class="modal-body text-light">
                        {{form}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-warning text-light" id="save_button" name="Create">Save
                            changes
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <br>
    <div class="news_table">
        {% for item in model%}
        <div class="alert alert-dark" id="news">
            <div class="news_table_header">
                <a class="text-light" href="{{item.link}}"><h4>title: <span class="text-light">{{item.title}}</span>
                </h4></a>
                <p>creation_date: <span class="text-light">{{item.creation_date}}</span></p>
            </div>
            <div class="news_table_footer">
                <h4>author_name: <span class="text-light">{{item.author_name}}</span></h4>
                <a class="btn btn-warning" href="{% url 'news_update' item.id%}" onclick="return edits()">Edit</a>
                <form method="get">
                    {%csrf_token%}
                    <button class="btn btn-dark" type="submit" name="req" value="{{item.title}}">detail</button>
                </form>
            </div>
        </div>
        {%endfor%}
    </div>


    <script src="static/main/js/main.js"></script>
</div>
{%endblock%}